
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    
  </head>
  <body>
   <h1>Are you sure ?</h1>
<a href="/home">No</a>
<a href="/foods/remove/<%=id%>">Yes</a>
  </body>
</html>